{% import "titles.njk" as titles %}

{% extends "layout.njk" %} 

{% block content %}

{{ titles.mainTitle('My favorite books') }} 

<div class="flex flex-column gap-medium-m grid-main-content-l">
  {% for book in books %}
    <div class="flex flex-column itens-center justify-center gap-small gap-medium-m flex-row-m">
      <div class="flex-basis-25-m flex-grow-0-m flex-shrink-0-m">
        <div class="flex border-solid-m color-image-frame-m">
        <img class="width-100 padding-small-m" src="{{ book.coverUrl }}" />
        </div>
      </div>

      <div>
        <a
          class="color-primary font-family-accent"
          target="_blank"
          href="{{
        book.bookUrl
        }}"
          >{{ book.title }}</a
        >
        <p class="text-justify" href="{{ book.review }}">{{ book.review }}</p>
      </div>
    </div>
  {% endfor %} 
</div>

{% endblock %}
