{% import "titles.html" as titles %}

{% extends "layout.html" %} {% block content %}

{{ titles.mainTitle('My favorite books') }}
{% for book in books %}
<div class="flex flex-column itens-center justify-center gap-small">
  <img src="{{ book.coverUrl }}" /> <br />
  <a
    class="color-primary font-family-accent"
    target="_blank"
    href="{{
    book.bookUrl
    }}"
    >{{ book.title }}</a
  >
  <p class="text-justify" href="{{ book.review }}">{{ book.review }}</p>
  <br />
</div>

{% endfor %} {% endblock %}
