<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}}</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <img />

    <script>
      const imgEl = document.querySelector("img");
      imgEl.src =
        "https://images.unsplash.com/photo-1610491951146-152ede0da2ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80";
    </script>
  </body>
</html>
