{% import "titles.html" as titles %}

{% extends "layout.html" %} {% block content %}

{{ titles.mainTitle('Welcome to my Library') }}

<div>
  {{ titles.sectionTitle('What will you find here?') }}

  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor dolor
    vel sem finibus lobortis. Curabitur gravida, purus sed suscipit viverra, est
    tortor pellentesque lacus, id consequat lectus nisi ac purus. Donec a orci a
    leo pharetra viverra. Phasellus interdum ullamcorper quam, vel sodales lacus
    hendrerit vel. In vulputate arcu sem. Quisque porta augue vitae tellus
    sollicitudin vehicula nec at ante. Proin vulputate, quam nec ultricies
    pellentesque, massa magna molestie sapien, et sodales metus mi nec eros.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames
    ac turpis egestas.
  </p>

  {{ titles.sectionTitle('Who am I?') }}

  <p class="text-justify">
    Nunc vitae semper quam. Aliquam ac tempus enim, sed pulvinar lacus. Mauris
    orci justo, vehicula quis leo eget, venenatis dapibus arcu. Nulla ornare
    tellus justo, eget pulvinar purus sagittis sit amet. Cras felis libero,
    tincidunt vel consectetur nec, iaculis et dui. Sed finibus nisi ligula, ac
    efficitur enim egestas et. Phasellus at mi molestie, pellentesque ipsum id,
    consectetur ex. Integer pretium, libero eget tincidunt tempor, lacus urna
    vulputate ante, at molestie ante nibh sed elit. Ut eu molestie nisi. Mauris
    mattis turpis nisi, id malesuada ante scelerisque id. Integer dictum
    facilisis ligula sed commodo. Fusce mauris libero, hendrerit in commodo vel,
    sollicitudin eget tellus. Cras felis lorem, maximus consequat vehicula at,
    viverra ac odio. Nulla quis orci egestas, iaculis nisi et, condimentum
    metus. Nam eu tellus id lacus eleifend lobortis id eget dolor. Vestibulum in
    purus pharetra, commodo lectus fringilla, pulvinar tortor.
  </p>
</div>

{% endblock %}
