<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/index.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include "./header.html" %} {% block content %} {% endblock %}

    <h3>Hola que tal?</h3>
    {% block exemple %} {% endblock %} {% include "./footer.html" %}
  </body>
</html>
