{% import "nav-link.njk" as navLink %}

<nav class="color-background-accent flex gap-medium items-center h3">
  {{ navLink.navLink('/', 'Home') }} 
  {{ navLink.navLink('/programming', 'Programming')}}
  {{ navLink.navLink('/books/rent', 'Readings')}} 
  {{ navLink.navLink('/crochet', 'Crochet')}}
  
</nav>
