:root {
  --color-background: #fafafafa;
  --color-background-accent: #303030;
  --color-image-frame: #f5788f;
  --color-primary: #d1b5d0;
  --color-primary-dark: #9371be;
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --font-family-accent: "Yusei Magic";
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
}

/* Colors */

.color-background-accent {
  background-color: var(--color-background-accent);
}

.color-background {
  background-color: var(--color-background);
}

.color-image-frame {
  border-color: var(--color-image-frame);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-text-primary {
  color: var(--color-text-primary);
}

/* Flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.gap-small {
  gap: var(--spacing-small);
}

.gap-medium {
  gap: var(--spacing-medium);
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* Float */

.float-left {
  float: left;
}

/* Font Family */
.font-family-accent {
  font-family: var(--font-family-accent, sans-serif);
}

/* Font Size */

.f4 {
  font-size: 1.25rem;
}

/* Grid */

.grid-body {
  display: grid;
  grid-template:
    "header header header" auto
    ". main ." auto
    ". footer ." auto / 1rem auto 1rem;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* Height */

.h3 {
  height: 4rem;
}

/* Margin */

.margin-horizontal-medium {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}

/* Nav */

.nav-link:first-child {
  margin-left: var(--spacing-medium);
}

/* Overflow */

.overflow-hidden {
  overflow: hidden;
}

/* Padding */

.padding-left-small {
  padding-left: var(--spacing-small);
}

.padding-left-medium {
  padding-left: var(--spacing-medium);
}

.padding-right-medium {
  padding-right: var(--spacing-medium);
}

.padding-horizontal-small {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.padding-vertical-medium {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}

/* Text Align */

.text-align-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Text Decoration */

.text-decoration-none {
  text-decoration: none;
}

/* Width */

.width-100 {
  width: 100%;
}

@media (min-width: 700px) {
  /* Border */
  .border-solid-m {
    border-style: solid;
  }

  /* Color */
  .color-image-frame-m {
    border-color: var(--color-image-frame);
  }

  /* Flex */
  .flex-basis-25-m {
    flex-basis: 25%;
  }

  .flex-grow-0-m {
    flex-grow: 0;
  }

  .flex-row-m {
    flex-direction: row;
  }

  .flex-shrink-0-m {
    flex-shrink: 0;
  }

  .gap-medium-m {
    gap: var(--spacing-medium);
  }

  /* Padding */
  .padding-small-m {
    padding: var(--spacing-small);
  }

  .padding-medium-m {
    padding: var(--spacing-medium);
  }

  /* Width */
  .width-100-m {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  /* Grid */
  .grid-body-l {
    display: grid;
    grid-template:
      "header header header" auto
      ". main ." auto
      ". footer ." auto / 2rem auto 2rem;
  }

  .grid-main-content-l {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 4rem;
  }
}

/* 
#7d5fa2 roxo
#c167a1 pink 
#f5788f rosa claro 
#ff9a77 laranja
#ffc765 laranja claro ou amarelo escuro 
#f9f871 amarelo  */
